@media screen and (min-width:1200px) {
    /*Layout**************************/
    .full-width {
        width: 100%;
    }

    .fixed-width {
        width: 1200px;
        margin: auto;
    }

    .col-1 {
        width: 100%;
        padding: 15px;
    }

    .col-2 {
        width: 50%;
        float: left;
        padding: 15px;
    }

    .col-3 {
        width: calc(100% / 3);
        padding: 15px;
        float: left;
    }

    .col-4 {
        width: 25%;
        padding: 15px;
        float: left;
    }

    .col-5 {
        width: 20%;
        padding: 15px;
        float: left;
    }

    .col-6 {
        width: calc(100%/6);
        padding: 15px;
        float: left;
    }

    /*
        .col-2,.col-3,.col-4,.col-5,col-6 {
            padding: 15px;
            float: left;
        }
*/
    /*******************************************/
    /*Nav************************************/
    nav {
        background-color: #8ca2cb;
        /*            position: fixed;*/
    }

    nav .col-1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav .logo {
        float: left;
    }

    nav .menu {
        float: right;
    }

    nav .menu li {
        list-style: none;
        float: left;
    }

    nav .menu a {
        text-decoration: none;
        display: block;
        color: black;
        padding-left: 20px;
        font-size: 14px;
        transition: all .3s;
    }

    nav .menu a:hover {
        color: #701e8e;
    }

    /*************************************/
    /*Header*****************************/
    header {
        background-image: url(img/001.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        padding-top: 250px;
        padding-bottom: 250px;

        color: #fff;
        text-align: center;



        /*   table至中   */
        /*
            
            display: table;
            height: 500px;
*/
    }

    /*
        header .fixed-width {
            display: table-cell;
            vertical-align: middle;
        }
*/
    h1 {
        font-size: 4em;
    }

    /***************************************/
    /*Slogan****************************/
    #slogan {
        text-align: center;
        padding-top: 180px;
        padding-bottom: 180px;
    }

    #slogan .fixed-width {
        width: 760px;
    }

    #slogan p {
        color: #272121;
        font-size: 13px;
        line-height: 1.5em;
    }

    #slogan h2 {
        margin-bottom: 20px;
    }

    /***************************************/
    /*Works****************************/
    #works {
        background-image: url(img/001.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        padding-top: 180px;
        padding-bottom: 180px;
    }


    /***************************************/
    /*Services****************************/
    #services {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    #services .fixed-width:nth-of-type(1) {
        text-align: center;
        margin-bottom: 50px;
    }

    #services h2 {
        margin-bottom: 20px;
    }

    #services h3 {
        margin-top: 20px;
        margin-bottom: 0;
    }

    #services .col-3 {
        height: 200px;
    }

    /***************************************/
    /*Banner*****************************/
    #banner {
        background-color: #86beab;
        padding-top: 150px;
        padding-bottom: 150px;
        text-align: center;
    }
    #banner h2 {
        margin-bottom: 20px;
    }

    /***************************************/
    /*About*************************/
    #about {
        text-align: center;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    #about .fixed-width:nth-of-type(1) {
        margin-bottom: 50px;
    }

    #about h2 {
        margin-bottom: 20px;
    }

    #about .pic {
        height: 450px;
        overflow: hidden;
        margin-bottom: 20px;

        border-radius: 3px;
        /*    圓角 放大   <--圓角50%=圓形-->   */
        /*            transform: scale(.8);*/
        /*            border: 10px solid #914e4e;*/
    }

    /***************************************/
    /*Purchase********************************/
    #purchase {
        padding-top: 150px;
        padding-bottom: 150px;
        background-color: antiquewhite;
        color: black;
        text-align: center;
    }

    #purchase h2 {
        margin-bottom: 20px;
    }

    #purchase a {
        color: brown;
        text-decoration: none;
    }

    .botton {
        display: inline-block;
        padding: 5px 25px;
        border: 1px solid #ac612a;
        /*    亦可直接寫在a    */
    }

    /***************************************/
    /*Blog************************************/
    #blog {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    #blog .fixed-width:nth-of-type(1) {
        text-align: center;
        margin-bottom: 50px;
    }
    #blog h2 {
        margin-bottom: 20px;
    }
    #blog .gallery {
        height: 250px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
    }
    #blog .gallery img {
        position: absolute;
    }
    #blog .gallery .date {
        position: absolute;
        background-color: black;

        top: 0;
        left: 0;

        text-align: center;
        color: #fff;
        padding: 5px 10px;
    }
    #blog .col-4 p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #blog .col-4 a {
        text-decoration: none;
        color: #a86cd4;
        font-weight: bold;
    }

    /****************************************/
    /*Sponsor*****************************/
    #sponsor {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #3882a3;
    }

    #sponsor .col-6 a {
        text-decoration: none;
        color: beige;
    }

    /****************************************/
    /*Contact********************************/
    #contact {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    #contact .fixed-width:nth-of-type(1) {
        text-align: center;
        margin-bottom: 50px;
    }
    #contact h2 {
        margin-bottom: 20px;
    }
    #contact h3 {
        padding: 10px 15px;
    }
    #contact .info {
        float: left;
        width: 400px;
        padding: 15px;

        font-size: 13px;
        color: #6c6464;
    }
    #contact .info-item {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    #contact .info-icon {
        float: left;
        width: 35px;
    }
    #contact .info-content {
        float: left;
        width: 335px;
        font-size: 16px;
    }
    /*  寬度注意計算  */
    #contact .info-content ul {
        list-style: none;
    }
    #contact .form {
        width: 800px;
        float: left;
    }
    input {
        /*            border: 0;*/
        padding: 15px 10px;
        width: 100%;
    }
    textarea {
        width: 100%;
        height: 200px;
        padding: 15px 10px;
    }
    .form .botton {
        display: inline-block;
        padding: 12px 10px;
        color: #f5c383;
        background-color: #3daf34;

        margin-top: 10px;
    }

    /****************************************/
    /*Footer**********************************/
    footer {
        background-color: darkgray;
        text-align: center;
        padding-top: 150px;
        color: black;
    }
    footer h2 {
        margin-bottom: 35px;
    }
    footer .sns {
        margin-bottom: 50px;
    }
    footer .sns a {
        color: #6c4d4d;
        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
    }
    footer .copy-right {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /****************************************/
}
